span[data-label="Funny"] img{
 content:url("https://svgshare.com/i/BVh.svg");
}
span[data-label="Informative"] img{
 content:url("https://svgshare.com/i/BV9.svg");
}
@import url('https://diwako.github.io/fpcss/mobile.css');
span[data-label="Cute"]  .votebutton img{
 content:url("https://files.facepunch.com/forum/upload/109968/aa8bb586-e4cf-4236-87c8-297933e207df/cutebow.svg");
}
img[src="https://files.facepunch.com/f/fi/0/6ff31"]{
 content:url("https://files.facepunch.com/garry/95650b81-5219-41e9-a4db-327e3e8f4144.svg");
}

span.userlevel.level-30, span.userlevel.level-31, span.userlevel.level-32, span.userlevel.level-33, span.userlevel.level-34, span.userlevel.level-35, span.userlevel.level-36, span.userlevel.level-37, span.userlevel.level-38, span.userlevel.level-39{
 color:#EEEEFF;
 background-color: #45be6d;
}
span.userlevel.level-40, span.userlevel.level-41, span.userlevel.level-42, span.userlevel.level-43, span.userlevel.level-44, span.userlevel.level-45, span.userlevel.level-46, span.userlevel.level-47, span.userlevel.level-48, span.userlevel.level-49{
 color:#FFEEFE; 
 background-color: #ecc93f
}
span.userlevel.level-50, span.userlevel.level-51, span.userlevel.level-52, span.userlevel.level-53, span.userlevel.level-54, span.userlevel.level-55, span.userlevel.level-56, span.userlevel.level-57, span.userlevel.level-58, span.userlevel.level-59{
 color:#FFEEFE; 
 background-color: #ec3f3f;
}
