span[data-label="Funny"] img{
 content:url("https://svgshare.com/i/BVh.svg");
}
span[data-label="Informative"] img{
 content:url("https://svgshare.com/i/BV9.svg");
}
.postblock .postfoot .right .votebuttons .votebutton img{
width: 24px;
height: 24px;
}
.votelist .votebutton img{
width: 64px;
height: 64px;
}